* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

.about-left {
    background-image: linear-gradient(19deg, #21D4FD 10%, #47c787 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff
}

.about-left-content>div {
    background: #12192c;
    padding: 1rem;
    border-radius: 12px 12px 0 0;
}

.about-left-content {
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    border-radius: 12px;
}

.shadow {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.about-img {
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.about-img img {
    display: block;
    width: 200px;
}

.icons {
    background: #12192c;
    display: flex;
    justify-content: center;
    padding: 0.4rem 0;
    border-radius: 0 0 12px 12px;
}

.icons li {
    list-style-type: none;
    background: #fff;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.icons li:hover {
    background: #edffec;
    color: #000;
}

.about-right {
    background: #12192c;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
    color: #fff
}

.about-right h2 {
    font-weight: 900;
}

.about-right #text-terminal {
    position: absolute;
    text-align: left;
    background-color: black;
    color: white;
    font-size: medium;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    display: inline-block;
    white-space: nowrap;
}

.about-btns {
    display: flex;
    margin: 2rem 0;
}

.btn {
    border: none;
    font-size: 0.9rem;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
    color: #fff
}

.btn.btn-gradient {
    background: linear-gradient(19deg, #21D4FD 10%, #47c787 100%);
    color: #fff;
    border-color: linear-gradient(19deg, #21D4FD 10%, #47c787 100%);
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}

.btn.btn-gradient:hover {
    background: transparent;
    border-color: #fff;
    color: #fff;
}

.about p {
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.9;
    text-align: justify;
    text-justify: inter-word;
}

.fa-redhat {
    color: rgb(255, 0, 0);
}

.fa-linkedin {
    color: #0A66C2;
}

.fa-github {
    color: #171515;
}

.fa-stack-overflow {
    color: #f3da35;
}


.language-buttons img {
    height: 35px;
    width: 35px;
    margin: 10px;
}

.language-buttons img:hover {

    -webkit-transform: scale(1.3);
    transform: scale(1.3);

}

@media screen and (min-width: 601px) {
    .about-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }

    .about-left {
        position: relative;
    }

    .about-left-content {
        position: absolute;
        width: 70%
    }
}

@media screen and (max-width: 700px) and (orientation:portrait) {
    .about-right {
        font-size: 0.8rem;
        display: block;
        padding: 2rem;

    }

    .about-left {
        padding: 30px;
    }

    .about-right {
        padding-top: 100px;
    }

    .about-btns {
        display: inline-block;
    }
}

@media screen and (max-width: 900px) and (orientation:landscape) {
    .about-right {
        overflow: auto;
        display: block;
    }
}

@import url(https://fonts.googleapis.com/css?family=Khula:700);

body {
    background: #111;
}

.hidden {
    opacity: 0;
}

.console-container {
    font-family: Khula;
    font-size: 4em;
    text-align: center;
    color: white;
}

.console-underscore {
    display: inline-block;
    position: relative;
    left: 10px;
}