.terminal {
  background: #000;
  color: #00ff00;
  font-family: monospace;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 1600px;
  margin: 1rem auto;
  height: 600px;
  overflow-y: auto;
  position: relative;
  white-space: pre-line;
  word-wrap: break-word;
}

.command-line {
  display: flex;
  align-items: center;
  position: relative;
}

.command-line .prompt {
  color: #00ff00;
  margin-right: 0.5rem;
}

.command-line .input {
  flex: 1;
  background: transparent;
  border: none;
  color: #00ff00;
  outline: none;
  font-family: monospace;
  padding: 0.15rem;
}

.autocomplete-suggestions {
  position: absolute;
  background: #222;
  color: #00ff00;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
  width: calc(100% - 2rem);
  top: 100%;
  left: 0;
  margin: 0;
}

.autocomplete-suggestion {
  padding: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
}

.autocomplete-suggestion:hover,
.autocomplete-suggestion.selected {
  background: #444;
}


.output-text {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: #1e1e1e;
  margin-bottom: 0rem;
  word-break: break-word;
  white-space: pre-wrap;
}

.output-text.code {
  background-color: #333;
  border-left: 3px solid #00ff00;
  color: #00ff00;
}

.output-text.error {
  background-color: #300;
  border-left: 3px solid #f00;
  color: #f00;
}
